target
.idea
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
dependency-reduced-pom.xml
tooling/rh-support/redhat-support-lib-java/build.properties
mq/mq-fabric/data/
